<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="WeltPixel\EnhancedEmail\Block\Adminhtml\Template\Edit"
                type="Icube\EnhancedEmail\Block\Adminhtml\Template\Edit"/> 
</config>