<!-- ko if: isDisplayed() -->
    <tr class="totals aw-giftcard-totals" repeat="foreach: getGiftcardCodes(), item: '$giftcard'">
        <th class="mark" scope="row">
            <form data-bind="attr: {'data-role': 'aw-gc-remove-code-' + $giftcard().giftcard_code}" method="post">
                <input type="hidden" name="code" data-bind="value: $giftcard().giftcard_code">
                <a role="button"
                   class="action-delete"
                   data-bind="attr: {'title': $t('Remove')},click: removeByCode.bind($data, $giftcard().giftcard_code)"
                   title="Remove">
                    <span class="delete-icon"></span>
                </a>
                <span class="title" data-bind="i18n: $giftcard().title"></span>
            </form>
        </th>
        <td class="amount" data-bind="attr: {'data-th': $t($giftcard().title) }">
            <span class="price" data-bind="text: getValue($giftcard().value)"></span>
        </td>
    </tr>
<!-- /ko -->
