.buildkite
.git
.ipynb_checkpoints/*
*.sample
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
*.md
env.*
/devops/*
clearcloudfront.sh
clearvarnish.sh
deploy_local.sh
deploy_prd.sh
redeploy.sh
zero.sh
# To prevent storing dev/temporary container data
/tmp/*
*.png
*.jpg
generated/*
var/cache/*
var/composer_home/*
var/di/*
var/generation/*
var/page_cache/* 
var/session/* 
var/tmp/* 
var/view_preprocessed/* 
pub/static/*