I/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt

/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess

!/pub/media/weltpixel/
!/pub/media/wysiwyg/pearl_theme/
!/pub/media/ves/
!/pub/media/wysiwyg/megamenu/

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess

/app/code/WeltPixel/FrontendOptions/view/frontend/web/*
/app/code/WeltPixel/ProductPage/view/frontend/web/css/*
/app/code/WeltPixel/QuickCart/view/frontend/web/css/*
/app/code/WeltPixel/ProductPage/view/frontend/web/css/*
/app/code/WeltPixel/FrontendOptions/view/frontend/web/css/source/*
/app/code/WeltPixel/FrontendOptions/view/frontend/web/css/source/*
/app/code/WeltPixel/CustomHeader/view/frontend/web/css/*
/app/code/WeltPixel/CategoryPage/view/frontend/web/css/*
/app/code/WeltPixel/CustomFooter/view/frontend/web/css/*
app/design/frontend/Pearl/weltpixel_custom/web/css/source/*

/generated
