<?xml version="1.0"?>
	<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
		<type name="Magento\SalesRule\Model\Rule\Metadata\ValueProvider">
	        <plugin name="Icube_Cashback::SalesRule_ValueProvider" type="Icube\Cashback\Plugin\ValueProvider" />
	    </type>
	    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
	        <plugin name="Icube_Cashback::CalculatorFactory" type="Icube\Cashback\Plugin\CalculatorFactory" />
	    </type>
	    <type name="Magento\Framework\Console\CommandList">
	       <arguments>
	           <argument name="commands" xsi:type="array">
	               <item name="cashback" xsi:type="object">Icube\Cashback\Console\Cashback</item>
	           </argument>
	       </arguments>
	   </type>
	   <type name="Amasty\Rgrid\Model\RuleActions">
	        <plugin name="Icube_Cashback::RuleActions" type="Icube\Cashback\Plugin\RuleActions" />
	    </type>
	</config>