<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <logistix>
                <model>Icube\Logistix\Model\Carrier\Logistix</model>
                <title>Logistix</title>
                <name>Logistix</name>
                <use_sandbox>1</use_sandbox>
                <origin_coord>-6.1600821,106.7222401</origin_coord>
                <origin_id>ID-JK03</origin_id>
                <origin_address>Jakarta Pusat</origin_address>
                <consigner_name>Icube</consigner_name>
                <consigner_phone>0876543215678</consigner_phone>
                <consigner_email>admin@icube.us</consigner_email>
                <consigner_postcode>10330</consigner_postcode>
                <auto_booking>1</auto_booking>
                <debug>0</debug>
            </logistix>
        </carriers>
    </default>
</config>
