<?xml version="1.0"?>

<!-- /**
 * @since 1.0.3
 * @link ./registration.php
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Icube_ShipmentRate::shipmentrate"
             title="Rates"
             module="Icube_ShipmentRate"
             sortOrder="20"
             resource="Icube_ShipmentRate::shipmentrate"
             parent="Temando_Shipping::shipping"
             action="icube_shipmentrate/rate/index"
        />
    </menu>
</config>
