<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weltpixel_category_page" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Category Page</label>
            <tab>weltpixel</tab>
            <resource>WeltPixel_CategoryPage::CategoryPageSettings</resource>
            <group id="notification" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Important / Recommended:</label>
                <fieldset_css>weltpixel-recommended-header active</fieldset_css>
                <field id="notification_msg" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\Backend\Block\Adminhtml\System\Config\Notification</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="display_wishlist" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Add To Wishlist</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\ShowWishlist</source_model>
                </field>
                <field id="display_compare" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Add To Compare</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\ShowCompare</source_model>
                </field>
                <field id="display_swatches" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Swatches</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\DisplaySwatche</source_model>
                    <comment>Please Flush Static Files Cache</comment>
                </field>
                <field id="display_swatch_tooltip" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Swatch Tooltip</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="display_swatches" separator=",">1,2</field>
                    </depends>
                    <comment>Please Flush Static Files Cache</comment>
                </field>
                <field id="display_addtocart" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Add to Cart</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\ShowAddToCart</source_model>
                </field>
                <field id="addtocart_align" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Align Add to Cart Button</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\TextAlign</source_model>
                    <depends>
                        <field id="display_addtocart" separator=",">1,2,3,4,5</field>
                    </depends>
                </field>
                <field id="products_per_line" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products per line (Desktop view)</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\ProductsPerLine</source_model>
                </field>
                <field id="remove_breadcrumbs" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="item" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Item options</label>
                <field id="box_shadow" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Item Box Shadow</label>
                    <comment>Add shadow. Ex.: 0px 5px 30px 0px rgba(0,0,0,0.5)</comment>
                </field>
                <field id="border_width" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Item Border Width</label>
                    <comment>Add border width. Ex.: 1px</comment>
                </field>
                <field id="border_color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Item Border Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
            </group>
            <group id="image" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Item Image Options</label>
                <field id="enable_hover_image" translate="label tooltip comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Hover Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>Select the hover image Product -> Edit -> Images -> Listing Hover Image</tooltip>
                    <comment>Select the hover image Product -> Edit -> Images -> Listing Hover Image</comment>
                </field>
                <field id="grid_width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grid View Image Width (In Px)</label>
                    <validate>number</validate>
                </field>
                <field id="grid_height" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grid View Image Height (In Px)</label>
                    <validate>number</validate>
                </field>
                <field id="list_width" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>List View Image Width (In Px)</label>
                    <validate>number</validate>
                </field>
                <field id="list_height" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>List View Image Height (In Px)</label>
                    <validate>number</validate>
                </field>
            </group>
            <group id="name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Item Name Options</label>
                <field id="name_align" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Align</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\TextAlign</source_model>
                </field>
                <field id="font_size" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Size</label>
                    <comment>Ex.: 18px</comment>
                </field>
                <field id="color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
            </group>
            <group id="review" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Item Review Options</label>
                <field id="display_reviews" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Reviews</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="review_align" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Align</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\TextAlign</source_model>
                </field>
            </group>
            <group id="price" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Item Price Options</label>
                <field id="price_align" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Align</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\TextAlign</source_model>
                </field>
                <field id="price_font_size" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Size</label>
                    <comment>Ex.: 18px</comment>
                </field>
                <field id="price_color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="special_price_font_size" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Special Price Size</label>
                    <comment>Ex.: 18px</comment>
                </field>
                <field id="special_price_color" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Special Price Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
            </group>
            <group id="swatch_productlisting" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" >
                <label>Item Swatch Options</label>
                <field id="radius" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Radius</label>
                    <validate>required</validate>
                </field>
                <field id="width" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width</label>
                    <validate>required</validate>
                </field>
                <field id="height" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height</label>
                    <validate>required</validate>
                </field>
                <field id="font_size" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Size</label>
                    <validate>required</validate>
                </field>
                <field id="swatch_align" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Swatch Align</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\TextAlign</source_model>
                </field>
            </group>
            <group id="toolbar" translate="label" type="text" sortOrder="80" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Toolbar</label>
                <field id="background_color" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Toolbar Background Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="border_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Toolbar Border Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="padding" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Toolbar Padding</label>
                    <comment>Ex.: 15px</comment>
                </field>
                <field id="label_font_size" translate="label" type="text" sortOrder="40" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Label Font Size</label>
                    <comment>Ex.: 15px</comment>
                </field>
                <field id="label_font_color" translate="label" type="text" sortOrder="50" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Label Font Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_background_color" translate="label" type="text" sortOrder="60" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Background Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_background_hover_color" translate="label" type="text" sortOrder="70" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Background Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_background_active_color" translate="label" type="text" sortOrder="80" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Background Active Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_border_color" translate="label" type="text" sortOrder="90" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Border Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_border_hover_color" translate="label" type="text" sortOrder="100" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Border Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_border_active_color" translate="label" type="text" sortOrder="110" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Border Active Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_icon_size" translate="label" type="text" sortOrder="115" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Icon Size</label>
                </field>
                <field id="grid_list_icon_color" translate="label" type="text" sortOrder="120" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Icon Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_icon_hover_color" translate="label" type="text" sortOrder="130" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Icon Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="grid_list_icon_active_color" translate="label" type="text" sortOrder="140" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Grid / List Icon Active Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>

                <field id="select_background_color" translate="label" type="text" sortOrder="150" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Background Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="select_background_focus_color" translate="label" type="text" sortOrder="160" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Background Focus Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="select_border_width" translate="label" type="text" sortOrder="165" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Field Border Width</label>
                    <frontend_model>WeltPixel\CategoryPage\Table\Block\System\Config\Field\BorderWidth</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="select_border_color" translate="label" type="text" sortOrder="170" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Border Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="select_border_focus_color" translate="label" type="text" sortOrder="180" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Border Focus Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="select_border_radius" translate="label" type="text" sortOrder="185" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Border Radius</label>
                </field>
                <field id="select_font_size" translate="label" type="text" sortOrder="190" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Font Size</label>
                </field>
                <field id="select_font_color" translate="label" type="text" sortOrder="200" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Font Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="select_arrow_color" translate="label" type="text" sortOrder="210" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Arrows Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="select_arrow_hover_color" translate="label" type="text" sortOrder="220" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Arrows Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="select_option_font_color" translate="label" type="text" sortOrder="240" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Dropdown Option Font Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="direction_font_size" translate="label" type="text" sortOrder="250" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Direction Font Size</label>
                </field>
                <field id="direction_font_color" translate="label" type="text" sortOrder="260" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Direction Font Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="direction_font_hover_color" translate="label" type="text" sortOrder="270" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Direction Font Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>

                <field id="pagination_font_size" translate="label" type="text" sortOrder="280" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Font Size</label>
                </field>
                <field id="pagination_font_color" translate="label" type="text" sortOrder="290" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Font Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_font_hover_color" translate="label" type="text" sortOrder="300" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Font Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_font_active_color" translate="label" type="text" sortOrder="310" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Font Active Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_background_color" translate="label" type="text" sortOrder="320" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Background Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_background_hover_color" translate="label" type="text" sortOrder="330" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Background Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_background_active_color" translate="label" type="text" sortOrder="340" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Background Active Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_border_color" translate="label" type="text" sortOrder="350" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Border Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_border_hover_color" translate="label" type="text" sortOrder="360" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Border Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_border_active_color" translate="label" type="text" sortOrder="370" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Border Active Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_border_radius" translate="label" type="text" sortOrder="375" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Border Radius</label>
                </field>

                <field id="pagination_next_prev_font_size" translate="label" type="text" sortOrder="380" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Next / Prev Font Size</label>
                </field>
                <field id="pagination_next_prev_font_color" translate="label" type="text" sortOrder="390" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Next / Prev Font Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_next_prev_font_hover_color" translate="label" type="text" sortOrder="400" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Next / Prev Font Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_next_prev_background_color" translate="label" type="text" sortOrder="410" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Next / Prev Background Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_next_prev_background_hover_color" translate="label" type="text" sortOrder="420" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Next / Prev Background Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_next_prev_border_color" translate="label" type="text" sortOrder="430" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Next / Prev Border Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
                <field id="pagination_next_prev_border_hover_color" translate="label" type="text" sortOrder="440" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Pagination Next / Prev Border Hover Color</label>
                    <validate>color {required:false, hash:true}</validate>
                </field>
            </group>
            <group id="swatch_layerednavigation" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" >
                <label>LayeredNavigation Swatch Options</label>
                <field id="radius" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Radius</label>
                    <validate>required</validate>
                </field>
                <field id="width" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width</label>
                    <validate>required</validate>
                </field>
                <field id="height" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height</label>
                    <validate>required</validate>
                </field>
                <field id="font_size" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Size</label>
                    <validate>required</validate>
                </field>
                <field id="swatch_align" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Swatch Align</label>
                    <source_model>WeltPixel\CategoryPage\Model\Config\Source\TextAlign</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
