<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ns8cspadmin" frontName="ns8cspadmin">
            <module name="NS8_CSP" />
        </route>
    </router>
</config>