#ns8-app-iframe {
    width: 100%;
    border: none
}

.ns8-order-grid-cell {
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    white-space: nowrap;
    padding: 1px 5px;
    width: 72px;
}

.ns8-order-tab-title {
    margin-left:10px;
    font-weight: 200;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    white-space: nowrap;
    padding: 4px 8px;
}

.ns8-order-grid-cell a:link {
    color: #fff;
}

.ns8-order-grid-score {
    padding-right: 5px;
    width: 32px;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.ns8-order-grid-icon {
    font-size: 11px;
    width: 22px;
    display: inline-block;
}

.ns8-order-grid-resolved {
    width: 100%;
    display: inline-block;
}

.ns8-order-tab-status {
    display: inline-block;
    margin-left:5px;
}

.ns8-accept-badge {
    background-color: #61a247;
    color: #fff;
}

.ns8-approved-badge {
    background-color: #61a247;
    color: #fff;
}

.ns8-cancel-badge {
    background-color: #d0664c;
    color: #fff;
}

.ns8-canceled-badge {
    background-color: #d0664c;
    color: #fff;
}

.ns8-investigate-badge {
    background-color: #e09f00;
    color: #fff;
}

.ns8-accept-icon:before {
    font-family: 'Admin Icons';
    transition: color 0.1s linear;
    color: #fff;
    content: '\e62d';
}

.ns8-approved-icon:before {
    font-family: 'Admin Icons';
    transition: color 0.1s linear;
    color: #fff;
    content: '\e62d';
}

.ns8-investigate-icon:before {
    font-family: 'Admin Icons';
    transition: color 0.1s linear;
    color: #fff;
    content: '\e623';
}

.ns8-investigate-icon-color:before {
    font-family: 'Admin Icons';
    transition: color 0.1s linear;
    color: #e09f00;
    content: '\e623';
}

.ns8-cancel-icon:before {
    font-family: 'Admin Icons';
    transition: color 0.1s linear;
    color: #fff;
    content: '\e632';
}

.ns8-canceled-icon:before {
    font-family: 'Admin Icons';
    transition: color 0.1s linear;
    color: #fff;
    content: '\e632';
}

.ns8-filter-icon:before {
    font-family: 'Admin Icons';
    transition: color 0.1s linear;
    color: #aaa;
    content: '\e605';
}
