<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_type_multishipping_create_orders_single">
        <observer name="aw-giftcard-multishipping-create-order" instance="Aheadworks\Giftcard\Observer\MultiShippingCreateOrderObserver" />
    </event>
    <event name="product_option_renderer_init">
        <observer name="aw-giftcard-observer" instance="Aheadworks\Giftcard\Observer\InitOptionRendererObserver"/>
    </event>
</config>
