<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <NS8_CSP>
            <configuration>
                <token backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </configuration>
        </NS8_CSP>
    </default>
</config>