<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\Giftcard\Model\Product\Type\Giftcard" type="Icube\Giftcard\Model\Giftcard"/>
    <preference for="Aheadworks\Giftcard\Plugin\Model\Service\CreditmemoServicePlugin" type="Icube\Giftcard\Service\CreditmemoServicePlugin"/>
</config>
