<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Icube_CustomStyle::cache" title="Swift Cache Management" translate="title" module="Icube_CustomStyle" sortOrder="80" parent="Magento_Backend::system_tools" action="customstyle/cache/index" resource="Icube_CustomStyle::config"/>
    </menu>
</config>