<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="logistix" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                <label>Logistix Sirclo</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Brand ID</label>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client Secret</label>
                </field>
                <field id="token_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Token URL</label>
                </field>
                <field id="use_sandbox" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="production_url" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Production URL</label>
                </field>
                <field id="sandbox_url" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Sandbox URL</label>
                </field>
                <field id="allow_free" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow Free Shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="min_freeshipping_amount" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Amount For Free Shipping</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="specific_method_free" translate="label" type="multiselect" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Free Shipping Method</label>
                    <source_model>Icube\Logistix\Model\Config\Source\Method</source_model>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="allow_free">1</field>
                    </depends>
                </field>
                <field id="method_option" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Available Shipping Method</label>
                    <source_model>Icube\Logistix\Model\Config\Source\Allshipping</source_model>
                </field>
                <field id="exclude_method_option" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Excluded Shipping method</label>
                    <comment>Check in checkout shipping method option. Example: REG SICEPAT, BEST SICEPAT</comment>
                </field>
                <field id="specific_method" translate="label" type="multiselect" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed Method</label>
                    <source_model>Icube\Logistix\Model\Config\Source\Method</source_model>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="method_option">1</field>
                    </depends>
                </field>
                <field id="origin_coord" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Origin Coordinate</label>
                    <comment>Example : -6.1575362903 106.7858796692</comment>
                </field>
                <field id="origin_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Origin ID</label>
                    <comment>List ID can be view on mapping list</comment>
                </field>
                <field id="origin_address" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Origin Address</label>
                </field>
                <field id="consigner_name" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Consigner Name</label>
                </field>
                <field id="consigner_phone" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Consigner Phone</label>
                </field>
                <field id="consigner_email" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Consigner Email</label>
                </field>
                <field id="consigner_postcode" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Consigner Postcode</label>
                </field>
                <field id="auto_booking" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Auto Booking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="insurance" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Insurance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>