.cashback-message .message {
    background: #e5efe5;
    display: block;
    padding: 15px;
    color: #006400;
}

.opc-block-summary .cashback-message,
.totals .cashback-message{
    display: none;
}