<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Extrafee
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_extrafee>
            <general>
                <show_on_order_grid>0</show_on_order_grid>
            </general>
            <calculation>
                <discount_in_subtotal>0</discount_in_subtotal>
                <tax_in_subtotal>0</tax_in_subtotal>
                <tax_for_percent>0</tax_for_percent>
                <shipping_in_subtotal>0</shipping_in_subtotal>
            </calculation>
            <tax>
                <tax_class>0</tax_class>
                <prices_at_cart>1</prices_at_cart>
                <prices_at_sales>1</prices_at_sales>
            </tax>
            <frontend>
                <cart>1</cart>
            </frontend>
        </amasty_extrafee>
    </default>
</config>
