<?xml version="1.0"?>

<!-- /**
 * @since 1.0.3
 * @link ./registration.php
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Icube_ShipmentRate::shipment">
                        <resource id="Icube_ShipmentRate::shipmentrate" title="Rates" sortOrder="15" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
