<?xml version="1.0"?>

<!-- /**
 * @since 1.0.3
 * @link ./registration.php
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="icube_shipmentrate_rate_listing_data_source" xsi:type="string">Icube\ShipmentRate\Model\ResourceModel\RateData\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Icube\ShipmentRate\Model\ResourceModel\RateData\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">advance_rate</argument>
            <argument name="resourceModel" xsi:type="string">Icube\ShipmentRate\Model\ResourceModel\RateData</argument>
        </arguments>
    </virtualType>
</config>
