<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="icube_customsalable_block_product_type_configurable" type="Icube\CustomSalable\Plugin\ProductViewTypeConfigurable" sortOrder="10" disabled="false"  />
    </type>
</config>
