<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
	    <arguments>
	        <argument name="commands" xsi:type="array">
	            <item name="cancelPendingOrderCommand" xsi:type="object">Icube\PaymentReminder\Console\Command\CancelPendingOrder</item>
	            <item name="syncPendingOrderCommand" xsi:type="object">Icube\PaymentReminder\Console\Command\SyncTabelorder</item>
	        </argument>
	    </arguments>
	</type>
</config>