<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="icube_promopayment" frontName="icube_promopayment">
            <module name="Icube_PromoPayment"/>
        </route>
    </router>
</config>