<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="icube" translate="label" sortOrder="1000">
            <label>Icube Extension</label>
        </tab>
        <section id="icube_banklist" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bank List</label>
            <tab>icube</tab>
            <resource>Icube_BankList::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bank List Configuration</label>
                <field id="banklist" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label">
                    <label>Bank List</label>
                    <frontend_model>Icube\BankList\Block\Adminhtml\Config\BankList</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>